<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12 d-flex justify-content-start">
            <h2>Course Management</h2>
        </div>
    </div>
    <hr>
    <div class="row mt-4">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" (click)="newCourse()" *ngIf="currentUser.role==='admin'">New Course</button>
                    </div>
                </div>
                <div class="d-flex mt-4 ">
                    <div class="p-0">
                        <input type="text" class="form-control" placeholder="Course" id="search" (keyup)="updateFilter($event)">
                    </div>
                    <div class="ml-auto mt-3">
                        <select name="limit" id="limit" [(ngModel)]="limit">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                          </select>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <ngx-datatable class='bootstrap' [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]='courses' [limit]="limit">

                            <ngx-datatable-column name="CODE" prop="courseCode">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.courseCode | uppercase}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="COURSE" prop="course">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.course | uppercase}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="STATUS" prop="course_status">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.course_status | uppercase}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="ACTIONS" prop="action">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <button type="button" [routerLink]="['./modulelist',row._id]" routerLinkActive="router-link-active" class="btn btn-outline-primary fa fa-newspaper-o" data-bs-toggle="tooltip" data-bs-placement="top" title="Module"></button>
                                    <button type="button" (click)="updateCourse(row._id)" routerLinkActive="router-link-active" class="btn btn-outline-primary fa fa-pencil" *ngIf="currentUser.role ==='admin'" data-bs-toggle="tooltip" data-bs-placement="top" title="View/Edit"></button>
                                    <button type="button" (click)="deactivate(row)" routerLinkActive="router-link-active" class="btn btn-outline-danger fa fa-ban" *ngIf="row.course_status === 'active' && currentUser.role ==='admin'" data-bs-toggle="tooltip" data-bs-placement="top" title="Deactivate"></button>
                                    <button type="button" (click)="activate(row)" routerLinkActive="router-link-active" class="btn btn-outline-success fa fa-check" *ngIf="row.course_status === 'deactivated' && currentUser.role ==='admin'" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Activate"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
