<div class="h-100">
  <div class="container-fluid  h-100">
    <div class="row h-100">
      <div class="left-section col-md-6  col-xs-12  d-flex flex-column   h-100">
        <div class="logo-banner-details m-3 mb-5">
          <img src="../../assets/ccs_logo.png" style="height: 40px; width: 40px;" class="img-fluid " alt="...">
          CCSCAI
        </div>
        <div class="info text-center m-5">

          <h4 class="mb-3 text-center">An easy access for your learning experience</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nam numquam incidunt in itaque placeat voluptatum est doloremque non omnis laudantium, rem perferendis sit. Numquam provident culpa, accusamus quaerat dignissimos a nobis quisquam voluptatibus adipisci natus ea nemo hic vel!</p>
        </div>
          <div class="container d-flex flex-row justify-content-around mt-3">
              <img src="../../assets/student.svg" class="img-thumbnail" alt="...">
              <img src="../../assets/student.svg" class="img-thumbnail" alt="...">
              <img src="../../assets/student.svg" class="img-thumbnail" alt="...">
          </div>
      </div>
      <div class="right-section container-fluid d-flex flex-column col-sm-12 col-xs-12 col-md-6">
          <div class="d-flex flex-row justify-content-end align-items-center mt-3 me-5 p-1">
            <div class="text-muted me-2">Not yet registered?</div>
            <a name="" id="" class="btn btn-sm btn-success" href="#" role="button">Register</a>
          </div>

            <form class="container p-5 d-flex flex-column justify-content-center flex-fill ">
                <div class="mb-3">
                  <label for="" class="form-label">Email Address</label>
                  <input type="text"
                    class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Use email registered by the department</small>
                </div>
                <div class="mb-4">
                  <label for="" class="form-label">Password</label>
                  <input type="password" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                </div>
                <div class="mb-3 text-center">
                  <a name="" id="" class="btn btn-primary" href="#" role="button">Login</a>
                </div>
                <div class="text-center">
                <a href="#" class="forgot-link">Forgot your password?</a>
                </div>
            </form>
          </div>
      </div>
  </div>
</div>
