<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12 d-flex justify-content-start">
            <h2>User Management</h2>
        </div>
    </div>
    <hr>
    <div class="row mt-4">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" [routerLink]="['../register']" routerLinkActive="router-link-active" *ngIf="currentUser.role==='admin'">Register User</button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">

                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>LAST NAME</th>
                                    <th>FIRST NAME</th>
                                    <th>ROLE</th>
                                    <th>STATUS</th>
                                    <th>ACTIONS</th>
                                </tr>
                            </thead>
                            <ng-container *ngIf="userList.length > 0; else elseTemplate">
                                <tbody>
                                    <tr *ngFor="let user of userList">
                                        <td>{{user.lastName | uppercase}}</td>
                                        <td>{{user.firstName | uppercase}}</td>
                                        <td>{{user.role | uppercase}}</td>
                                        <td>{{user.user_status | uppercase}}</td>
                                        <td><button type="button" [routerLink]="['../updateuser',user._id]" routerLinkActive="router-link-active" class="btn btn-outline-primary fa fa-pencil" data-bs-toggle="tooltip" data-bs-placement="top" title="View/Edit"></button>
                                            <button type="button" (click)="deactivate(user)" routerLinkActive="router-link-active" class="btn btn-outline-danger fa fa-ban" *ngIf="user.user_status === 'active'" data-bs-toggle="tooltip" data-bs-placement="top" title="Deactivate"></button>
                                            <button type="button" (click)="activate(user)" routerLinkActive="router-link-active" class="btn btn-outline-success fa fa-check" *ngIf="user.user_status === 'inactive' || user.user_status === 'deactivated'" data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Activate"></button></td>
                                    </tr>
                                </tbody>
                            </ng-container>
                            <ng-template #elseTemplate>
                                <tbody>
                                    <tr>
                                        <td colspan="5" class="no-data-available" style="text-align: center;">
                                            No Data To Display
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-template>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>