<div class="h-100 container-fluid  p-4">
  <section class="row overview-section  mt-2 mb-3">
  <h5 class="mb-3">Overview</h5>
    <div class="mb-3 row ">
      <div class="col ">
        <app-card-overview [title]="'Course in progress'" [bsIcon]="'bi-graph-down'" [value]="5"
          [textColorClass]="'text-info'">
        </app-card-overview>
      </div>
      <div class="col ">
      <app-card-overview
      [title]="'Pending assessments'"
      [bsIcon]="'bi-card-list'"
      [value]="10"
      [textColorClass]="'text-warning'">
      </app-card-overview>
      </div>
        <div class="col ">
          <app-card-overview [title]="'Finished assessments'" [bsIcon]="'bi-list-check'" [value]="3"
            [textColorClass]="'text-primary'">
          </app-card-overview>
        </div>
      <div class="col ">
          <app-card-overview
          [title]="'Pending lessons'"
          [bsIcon]="'bi-diagram-3'"
          [value]="20"
          [textColorClass]="'text-warning'">
          </app-card-overview>
      </div>
      <div class="col ">
        <app-card-overview
        [title]="'Finished lessons'"
        [bsIcon]="'bi-diagram-3-fill'"
        [value]="3"
        [textColorClass]="'text-success'">
        </app-card-overview>
      </div>
    </div>
  </section>
  <section class="row h-50">
    <div class="col-6">
      <h5 class="mb-3">Study Statistics</h5>
      <div class="card h-100 border-0 p-3">
        <app-card-statistics></app-card-statistics>
      </div>
    </div>
    <div class="col-6 ">
      <h5 class="mb-3">Upcoming Classes</h5>
      <div class="card container h-100 border-0 p-3 ">
       <div class="row">
          <div class="col-6 mb-3">
            <app-upcoming-class-card></app-upcoming-class-card>
          </div>
          <div class="col-6 mb-3">
            <app-upcoming-class-card></app-upcoming-class-card>
          </div>
          <div class="col-6 mb-3">
            <app-upcoming-class-card></app-upcoming-class-card>
          </div>
          <div class="col-6 mb-3">
            <app-upcoming-class-card></app-upcoming-class-card>
          </div>
       </div>
      </div>
    </div>
  </section>
</div>
