<div class="modal-header">
    <h4 class="modal-title">Update Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="courseForm" (ngSubmit)="updateCourse()">
    <div class="modal-body">

        <div class="mb-3">

            <div class="row">
                <div class="col-12">
                    <label for="courseCode" class="form-label">Course Code</label>
                    <input type="text" class="form-control" id="courseCode" formControlName="courseCode">
                </div>
                <div class="col-12">
                    <label for="course" class="form-label">Course</label>
                    <input type="text" class="form-control" id="course" formControlName="course">
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>