<div class="modal-header">
    <h4 class="modal-title">{{role}} Selection</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <button type="button" class="btn btn-primary" [routerLink]="['../register']" routerLinkActive="router-link-active" *ngIf="currentUser.role==='admin'">Register User</button>
            </div>
        </div>

        <div class="d-flex mt-4 ">
            <div class="p-0">
                <input type="text" class="form-control" placeholder="Name" id="search" (keyup)="updateFilter($event)">
            </div>
            <div class="ml-auto mt-3">
                <select name="limit" id="limit" [(ngModel)]="limit">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-12">
                <ngx-datatable class='bootstrap' [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]='userList' [limit]="limit">

                    <ngx-datatable-column name="FIRST NAME" prop="firstName">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.firstName | uppercase}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="LAST NAME" prop="lastName">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.lastName | uppercase}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="ROLE" prop="role">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.role | uppercase}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="STATUS" prop="user_status">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.user_status | uppercase}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="ACTIONS" prop="action">
                        <ng-template let-row="row" ngx-datatable-cell-template>

                            <button type="button" (click)="select(row)" routerLinkActive="router-link-active" class="btn btn-outline-success fa fa-check" data-bs-toggle="tooltip" data-bs-placement="top" title="Select"></button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>