<div class="container-fluid mt-4">
    <div class="row mt-4">
        <div class="container">
            <div class="card">
                <h4 class="card-header">Enrollment Registration</h4>
                <div class="card-body">
                    <form [formGroup]="enrollmentForm" (ngSubmit)="create()" class="row g-3">

                        <div class="col-6">
                            <label for="coursecode" class="form-label">Course Code</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="coursecode" aria-label="instructor" aria-describedby="button-addon" [(ngModel)]="selectedCourse.courseCode" [ngModelOptions]="{standalone: true}" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" (click)="searchCourse()" type="button" id="button-addon">Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <label for="course" class="form-label">Course</label>
                            <input type="text" class="form-control" name="course" aria-label="course" aria-describedby="button-addon" [(ngModel)]="selectedCourse.course" [ngModelOptions]="{standalone: true}" readonly>
                        </div>

                        <div class="col-12 mt-2">
                            <label for="instructor" class="form-label">Instructor</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="instructor" aria-label="instructor" aria-describedby="button-addon" [(ngModel)]="selectedInstructor.fullName" [ngModelOptions]="{standalone: true}" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" (click)="searchInstructor()" type="button" id="button-addon">Search</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-2">
                            <label for="term" class="form-label">Term</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="term" aria-label="term" aria-describedby="button-addon" [(ngModel)]="selectedTerm.termName" [ngModelOptions]="{standalone: true}" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" (click)="searchTerm()" type="button" id="button-addon">Search</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mt-2">
                            <label for="dp" class="form-label">Date</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="enrollmentDate" ngbDatepicker #d="ngbDatepicker">
                                <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()" type="button"></button>
                            </div>
                        </div>


                        <div class="col-12 mt-4">
                            <button type="button" [routerLink]="['../enrollmentlist']" routerLinkActive="router-link-active" class="btn btn-primary mr-2">Back</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>