
 <div class="card mb-4 d-flex shadow flex-column justify-content-around border-0 bg-light text-left"
  style="height: 350px;">
          <div class="upper-section bg-danger" style="height: 175px;" front>
            <div class="container-fluid">
              <div class="row p-3 justify-content-end">
                <a name="" id="" class="text-light" role="button">
                  <i class="fa fa-ellipsis-v fa-2x " aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="lower-section p-4 flex-fill d-flex flex-column justify-content-between">
            <div class="info-section">
              <p class="text-primary text-truncate p-0 m-0" style="font-size: 20px;">CS101 - Basic Programming</p>
              <p class="text-muted  p-0 m-0 text-truncate" style="font-size: 17px;">Mr. Bou Demos</p>
              <p class="text-muted p-0 m-0 text-truncate" style="font-size: 17px;">MWF - 9:30 to 11:30</p>
            </div>
            <div class="actions mt-3 d-flex flex-row justify-content-end">
              <a name="" id="" tooltip="View Course" class="text-dark mr-4" href="#" role="button">
                <i class="fa fa-cubes fa-2x" aria-hidden="true"></i>
              </a>
              <a name="" id="" tooltip="View Course" class="text-dark mr-4" href="#" role="button">
                <i class="fa fa-clipboard fa-2x" aria-hidden="true"></i>
              </a>
              <a name="" id="" tooltip="View Course" class="text-dark" href="#" role="button">
                <i class="fa fa-calculator fa-2x" aria-hidden="true"></i>
              </a>
            </div>
</div>


