<div class="row ">
  <div class="col-md-6 p-2 g-0 mb-1">
    <app-dashboard-card [cardTitle]="'Course Progress'">
      <app-progress-line-item content [trailing]="'CS101-Basic Programming'" [progressValue]="90" [callbackFunction]="">
      </app-progress-line-item>
      <app-progress-line-item content [trailing]="'CS102-Data Structure'" [progressValue]="30" [callbackFunction]="">
      </app-progress-line-item>
      <app-progress-line-item content [trailing]="'CS103-Basic Database'" [progressValue]="50" [callbackFunction]="">
      </app-progress-line-item>
    </app-dashboard-card>
  </div>
  <div class="col-md-3 p-2 g-0 mb-1">
    <app-dashboard-card [cardTitle]="'Exercises'">
      <app-activity-count-line-item content></app-activity-count-line-item>
      <app-activity-count-line-item content></app-activity-count-line-item>
      <app-activity-count-line-item content></app-activity-count-line-item>
    </app-dashboard-card>
  </div>
  <div class="col-md-3 p-2 g-0 mb-1">
    <app-dashboard-card [cardTitle]="'Assessments'">
      <app-activity-count-line-item content></app-activity-count-line-item>
      <app-activity-count-line-item content></app-activity-count-line-item>
      <app-activity-count-line-item content></app-activity-count-line-item>
    </app-dashboard-card>
  </div>
  <div class="col-md-7 p-2 g-0 mb-1">
    <app-dashboard-card [cardTitle]="'Announcements'">

    </app-dashboard-card>
  </div>
  <div class="col-md-5 p-2 g-0 mb-1">
    <app-dashboard-card [cardTitle]="'Grades'">

    </app-dashboard-card>
  </div>
</div>
