<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12 d-flex justify-content-start">
            <h2>Term Management</h2>
        </div>
    </div>
    <hr>
    <div class="row mt-4">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" (click)="newTerm()" *ngIf="currentUser.role==='admin'">New Term</button>
                    </div>
                </div>
                <div class="d-flex mt-4 ">
                    <div class="p-0">
                        <input type="text" class="form-control" placeholder="Term" id="search" (keyup)="updateFilter($event)">
                    </div>
                    <div class="ml-auto mt-3">
                        <select name="limit" id="limit" [(ngModel)]="limit">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                          </select>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <ngx-datatable class='bootstrap' [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]='terms' [limit]="limit">

                            <ngx-datatable-column name="TERM" prop="termName" [width]="200">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.termName | uppercase}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="ACTIONS" prop="action" [canAutoResize]="false">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <button type="button" (click)="updateTerm(row._id)" routerLinkActive="router-link-active" class="btn btn-outline-primary fa fa-pencil" data-bs-toggle="tooltip" data-bs-placement="top" title="View/Edit"></button>

                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>