<div class="container-fluid ">
  <div class="row ">
    <div class="col-md-12 d-flex flex-row justify-content-between">
      <h4>My Courses </h4>
      <a name="" id="" class="" style="font-size: 20px;" href="#" role="button">View All</a>
    </div>
  </div>
  <div class="courses-list p-4" style="height: 510px; overflow-y: auto;">
  <div class="row pb-2">
    <div class="col-md-4" *ngFor="let item of testArray">
      <app-dashboard-courses-card></app-dashboard-courses-card>
    </div>
  </div>
  </div>
</div>
